{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
    {{category.description|truncatewords:155}}
  {% else %}
  Welcome to ABC Store, where you can buy different items....
  {% endif %}
{% endblock %}
{% block title %}
{% if category %}
 {{category.name}}-ABC Store
{% else %}
 See our new collections-ABC Store
{% endif %}
{% endblock %}
{% block content %}
{% if category %}
<div>
  <div class="row my_row_class">
      <div class="mx_auto">
    <p><a href="{% url 'shop:allProdCat' %}">Our Products Collections</a></p>
  </div>
</div>
{% endif %}
<div class="mx_auto">
  {% if category %}
  <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="200px;" height="200px;">
</div>
<br>
<div>
  <h1 class="text-center my_title">{{category.name}}</h1>
  <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
  <img  class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Products" width="1000px;" height="300px;" >
</div>
<br>
<div>
  <h1>Our Products Collections</h1>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
</div>
</div>
  {% endif %}
<div class="container">
  <div class="row mx_auto">
    {% for product in products %}
  <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
    <div class="card text-center" style="min-width:18rem;">
      <a href="{{product.get_url}}"> <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="200px;" height="200px;"></a>

   <div class="card-body">
     <h4>{{product.name}}</h4>
     <p>{{product.price}}</p>
   </div>
    </div>
</div>
      {% endfor %}

</div>
</div>

{% endblock %}